@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 0px 150px 75px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
}

.white {
    color: white;
}

.logo-text {
    font-size: 24px;
}

.header-main {
    font-size: 48px;
    font-weight: 800;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7ebce;
    padding-bottom: 8px;
}

a {
    text-decoration: none;
    color: #e5e7ebce;
}

ul {
    list-style: none;
    display: flex;
    gap: 14px;
}

.main {
    display: flex;
    gap: 48px;
}

.main-image {
    width: 900px;
    height: 250px;
    color: white;
    background-color: grey;
    text-align: center;
    line-height: 250px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    border: none;
}

.info-container {
    padding: 42px 160px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 42px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
}

.info-text {
    font-size: 18px;
    color: #6c6e72;
    width: 150px;
    text-align: center;
    padding-bottom: 24px;
}

.illustration {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 6px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
}

.quote {
    background-color: #E5E7Eb;
    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: 800;
    font-size: 20px;
    text-align: right;
}

.signup {
    background-color: #3882F6;
    margin: 75px 160px;
    padding: 42px 84px;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-main {
    font-weight: 800;
    font-size: 18px;
}

.signup-secondary {
    color: #e5e7ebce;
}

.signup button {
    border-color: white;
    border-style: solid;
}

.footer {
    background-color: #1F2937;
    color: #e5e7ebce;
    text-align: center;
    padding: 32px;
}